


#btn{

display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: chartreuse;

}

footer{
background-color: chartreuse;



}


img{
width: 3%;

}


form{
padding: 10px;
background-color:cyan;
width: 50%;

}

input[type="text"],[type="tel"],[type="email"]{

width: 50%;


}

#message{
width: 50%;

}

button{
display: block;
margin: auto;
color: chartreuse;
margin-top: 10px;
    
}



@media (max-width:768px){
#maincon{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}
}

html,body{
margin: 0;
    height: 100%;
}


body{

    display: flex;
flex-direction: column;

}


main{

    flex: 1;
}








