

#btn{

display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: chartreuse;

}

footer{
background-color: chartreuse;



}


img{
width: 3%;



}

h1{
text-shadow: 2px 2px blue;


}


@media (max-width:768px){
#mainser{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}
}

html,body{
margin: 0;
    height: 100%;
}


body{

    display: flex;
flex-direction: column;

}


main{

    flex: 1;
}





